@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* ダークモードのスタイル */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 4rem; /* Adjust body padding for fixed footer on mobile */
}

@media (min-width: 768px) {
  /* md breakpoint */
  footer {
    display: none; /* Hide footer on desktop */
  }
  body {
    padding-bottom: 0; /* Remove padding on desktop */
  }
}
